<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @marcas_auto.marca %>
</p>

<%= link_to 'Edit', edit_marcas_auto_path(@marcas_auto) %> |
<%= link_to 'Back', marcas_autos_path %>
